/*----------------------mon header---------------------*/
@media screen and (max-width:650px) {
  .content{
  padding-top: 20em;
}
 .content h1{
  font-size: 20px;
}
.content p{
  font-size: 1.1em;
}
}
/*---------------------------PHASE DES PRE-INSCRIPTIONS-------------------*/
@media screen and (min-width: 320px) and (max-width: 568px) {
#moimeme{
  height:56em;
}
#aproposdemoi{
  text-align: center;
  margin-left: -0.5em;
  font-size: 12px;
  margin-bottom: 3.1em;
 }
.proposphrase > p{
  font-size: 12px;
  text-align: justify;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: -2.5em;
}
.border{
  width: 9em;
  height: 1px;  
  margin-left: 5.1em;
  margin-bottom: 2em;
}
.firstphrase{
  margin-top: 0.1em;
  font-size: 9px;
  text-align: center;
  margin-left: -0.7em;
}
.founder > img{
  position: absolute;
  margin-top: 1.5em;
  margin-bottom: 12em;
  width: 11em;
  height: 11em;
  margin-left: 4.1em;
}
.founder2{
  font-size: 12px;
  margin-left: 3em;
  margin-top: 19em;
  margin-right: 3em;
}
.img-inscription{
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
}
.phase-1 > img{
  margin-top: 0.3em;
  width: 4em;
  height: 4em;
}
.phase-2 > img{
  width: 4em;
  height: 4em;
}
.phase-3 > img{
  width: 4em;
  height: 4em;
  margin-bottom: 0.1em;
}
}
@media screen and (min-width: 360px) and (max-width: 640px) {
#moimeme{
    height:54em;
  }
  #aproposdemoi{
    text-align: center;
    margin-left: -0.5em;
    font-size: 12px;
    margin-bottom: 3.1em;
  }

  .proposphrase > p{

    font-size: 12px;
    text-align: justify;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: -3.1em;
  }
  .border{
    width: 9em;
    height: 1px;  
    margin-left: 7.7em;
    margin-bottom: 2em;
  }
  .firstphrase{
    margin-top: -4.1em;
    font-size: 10px;
    text-align: center;
  }
  .founder > img{
    position: relative;
    margin-top: 3.1em;
    margin-bottom: 12em;
    width: 13em;
    height: 13em;
    margin-left: 5.6em;
  }
  .founder2{
    font-size: 12px;
    margin-left: -22em;
    margin-top: 24em;
    margin-right: 3em;
  }
  .img-inscription{
    position: absolute;
    margin-top: -1.9em;
    margin-left: 3em;
    background-color: #0D0707;
    border: 4px solid #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
  }
  .phase-1 > img{
    margin-top: 0.3em;
    width: 4em;
    height: 4em;
  }
  .phase-2 > img{
    width: 4em;
    height: 4em;
  }
  .phase-3 > img{
    width: 4em;
    height: 4em;
    margin-bottom: 0.1em;
  }
}
 @media screen and (min-width: 768px) and (max-width: 1023px) {
  #moimeme{
    height: 80em;
  }
  #aproposdemoi{
    padding-top: 4.1em;
    text-align: center;
    margin-left: -0.5em;
    font-size: 12px;
    margin-bottom: 3.1em;
   }
  
  .proposphrase > p{
    font-size: 1em;
    text-align: justify;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
  }
  .border{
    width: 10em;
    height: 1px;  
    margin-left: 18.7em;
    margin-bottom: 2em;
  }
  .firstphrase{
    margin-top: -4.1em;
    font-size: 13px;
    text-align: center;
    margin-left: -4em;
  }
  .founder > img{
    position: absolute;
    margin-top: 3.1em;
    margin-bottom: 12em;
    width: 20em;
    height: 20em;
    margin-left: 13em;
  }
  .founder2{
    text-align: justify;
    font-size: 1.1em;
    margin-left: 2.5em;
    margin-top: 24.5em;
    margin-right: 2.5em;
  }
  .img-inscription{
    position: absolute;
    margin-top: 4em;
    margin-left: 3.5em;
    background-color: #0D0707;
    border: 4px solid #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
  }
  .phase-1 > img{
    margin-top: 0.3em;
    width: 9em;
    height: 6em;
  }
  .phase-2 > img{
    width: 9em;
    height: 6em;
  }
  .phase-3 > img{
    width: 9em;
    height: 6em;
    margin-bottom: 0.1em;
  }
}
 @media screen and (min-width: 1024px) and (max-width: 1200px) {
  #moimeme{
    height: 103em;
  }
  #aproposdemoi{
    padding-top: 8.1em;
    text-align: center;
    margin-left: -0.5em;
    font-size: 14px;
    margin-bottom: 3.1em;
   }
   .border{
    width: 13em;
    height: 1px;  
    margin-left: 25em;
    margin-bottom: 2em;
  }
  .proposphrase > p{
    font-size: 1.1em;
    text-align: justify;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
  }

  .firstphrase{
    margin-top: -2.1em;
    font-size: 13px;
    text-align: center;
    margin-left: -4em;
    margin-bottom: 0.3em;
  }
  .founder > img{
    position: absolute;
    margin-top: 3.5em;
    margin-bottom: 12em;
    width: 30.7em;
    height: 30.7em;
    margin-left: 16em;
  }
  .founder2{
    text-align: justify;
    font-size: 1.4em;
    margin-left: 2.5em;
    margin-top: 27em;
  }
  .img-inscription{
    position: absolute;
    margin-top: 4.1em;
    margin-left: 9em;
    background-color: #0D0707;
    border: 4px solid #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
  }
  .phase-1 > img{
    margin-top: 0.3em;
    width: 11em;
    height: 7em;
  }
  .phase-2 > img{
    width: 11em;
    height: 7em;
  }
  .phase-3 > img{
    width: 11em;
    height: 7em;
    margin-bottom: 0.1em;
  }
}
/*--------------------------DEROULEMENT DES COURS À L'ECOLE 241--------------------*/
@media screen and (min-width: 320px) and (max-width: 568px) {
  #moimeme-2{
    height: 51em;
  }
  .first-phrase{
    margin-top: 1em;
    font-size: 9px;
    text-align: center;
    margin-left: -0.7em;
  }
  .cours-241 > img{
    position: absolute;
    margin-top: -1em;
    margin-bottom: 12em;
    width: 11em;
    height: 11em;
    margin-left: 4.1em;
  }
  .phase-1-2 > img{
    margin-top: 0.3em;
    width: 4em;
    height: 4em;
  }
  .phase-2-2 > img{
    width: 4em;
    height: 4em;
  }
  .phase-3-2 > img{
    width: 4em;
    height: 4em;
    margin-bottom: 0.1em;
  }
  }
  @media screen and (min-width: 360px) and (max-width: 640px) {
  #moimeme{
      height:63em;
    }
    .first-phrase{
      margin-top: -4.1em;
      font-size: 10px;
      text-align: center;
    }
    .cours-241 > img{
      position: relative;
      margin-top: 3.1em;
      margin-bottom: 12em;
      width: 13em;
      height: 13em;
      margin-left: 5.6em;
    }
    .phase-1-2 > img{
      margin-top: 0.3em;
      width: 4em;
      height: 4em;
    }
    .phase-2-2 > img{
      width: 4em;
      height: 4em;
    }
    .phase-3-2 > img{
      width: 4em;
      height: 4em;
      margin-bottom: 0.1em;
    }
  }
   @media screen and (min-width: 768px) and (max-width: 1023px) {
    #moimeme-2{
      height: 69em;
    }
    .first-phrase{
      margin-top: -4.1em;
      font-size: 13px;
      text-align: center;
      margin-left: -4em;
      margin-bottom: -3em;
    }
    .cours-241 > img{
      position: absolute;
      margin-top: 3.1em;
      margin-bottom: 12em;
      width: 20em;
      height: 20em;
      margin-left: 13em;
    }
    .phase-1-2 > img{
      margin-top: 0.3em;
      width: 9em;
      height: 6em;
    }
    .phase-2-2 > img{
      width: 9em;
      height: 6em;
    }
    .phase-3-2 > img{
      width: 9em;
      height: 6em;
      margin-bottom: 0.1em;
    }
  }
   @media screen and (min-width: 1024px) and (max-width: 1200px) {
    #moimeme-2{
      height: 93em;
    }

  .first-phrase{
    padding-top: 8.1em;
    font-size: 13px;
    text-align: center;
    margin-left: -4em;
    margin-bottom: 0.3em;
  }
    .cours-241 > img{
      position: absolute;
      margin-top: 1.1em;
      margin-bottom: 12em;
      width: 30.7em;
      height: 30.7em;
      margin-left: 16em;
    }
    .phase-1-2 > img{
      margin-top: 0.3em;
      width: 11em;
      height: 7em;
    }
    .phase-2-2 > img{
      width: 11em;
      height: 7em;
    }
    .phase-3-2 > img{
      width: 11em;
      height: 7em;
      margin-bottom: 0.1em;
    }
  }
/*--------------------------LA NOUVELLE ANNÉE 2020 À L'ECOLE 241--------------------*/
@media screen and (min-width: 320px) and (max-width: 568px) {
  #moimeme-3{
    height:46em;
  }
  .first-phrase-3{
    padding-top: 4em;
    font-size: 9px;
    text-align: center;
    margin-left: -0.7em;
  }
  .annee-2020 > img{
    position: absolute;
    margin-top: 1.5em;
    margin-bottom: 12em;
    width: 11em;
    height: 11em;
    margin-left: 4.1em;
  }
  .phase-1-3 > img{
    margin-top: 0.3em;
    width: 4em;
    height: 4em;
  }
  .phase-2-3 > img{
    width: 4em;
    height: 4em;
  }
  .phase-3-3 > img{
    width: 4em;
    height: 4em;
    margin-bottom: 0.1em;
  }
  }
  @media screen and (min-width: 360px) and (max-width: 640px) {
  #moimeme-3{
      height:51em;
    }
    .first-phrase{
      margin-top: -4.1em;
      font-size: 10px;
      text-align: center;
      margin-bottom: -8em;
    }
    .annee-2020 > img{
      position: relative;
      margin-bottom: 12em;
      width: 13em;
      height: 13em;
      margin-left: 4.6em;
    }
    .phase-1-3 > img{
      margin-top: 0.3em;
      width: 4em;
      height: 4em;
    }
    .phase-2-3 > img{
      width: 4em;
      height: 4em;
    }
    .phase-3-3 > img{
      width: 4em;
      height: 4em;
      margin-bottom: 0.1em;
    }
  }
   @media screen and (min-width: 768px) and (max-width: 1023px) {
    #moimeme-3{
      height: 69em;
    }
    .first-phrase-3{
      margin-top: -4.1em;
      font-size: 13px;
      text-align: center;
      margin-left: -4em;
    }
    .annee-2020 > img{
      position: absolute;
      margin-top: 3.1em;
      margin-bottom: 12em;
      width: 20em;
      height: 20em;
      margin-left: 13em;
    }
    .phase-1-3 > img{
      margin-top: 0.3em;
      width: 9em;
      height: 6em;
    }
    .phase-2-3 > img{
      width: 9em;
      height: 6em;
    }
    .phase-3-3 > img{
      width: 9em;
      height: 6em;
      margin-bottom: 0.1em;
    }
  }
   @media screen and (min-width: 1024px) and (max-width: 1200px) {
    #moimeme-3{
      height: 90em;
    }

  .first-phrase-3{
    padding-top: 8.1em;
    font-size: 13px;
    text-align: center;
    margin-left: -4em;
    margin-bottom: 0.3em;
  }
    .annee-2020 > img{
      position: absolute;
      margin-top: 3.5em;
      margin-bottom: 12em;
      width: 30.7em;
      height: 30.7em;
      margin-left: 16em;
    }
    .phase-1-3 > img{
      margin-top: 0.3em;
      width: 11em;
      height: 7em;
    }
    .phase-2-3 > img{
      width: 11em;
      height: 7em;
    }
    .phase-3-3 > img{
      width: 11em;
      height: 7em;
      margin-bottom: 0.1em;
    }
  }
/*--------------------------LA NUIT DES IDÉES : ECOLE 241 (2020)---------------------*/
@media screen and (min-width: 320px) and (max-width: 568px) {
  #moimeme-4{
    height:49em;
  }
  .first-phrase-4{
    padding-top: 5.5em;
    font-size: 7px;
    text-align: center;
  }
  .nuit-des-idees-2020 > img{
    position: absolute;
    margin-top: 1.5em;
    margin-bottom: 12em;
    width: 11em;
    height: 11em;
    margin-left: 4.1em;
  }
  .phase-1-4 > img{
    margin-top: 0.3em;
    width: 4em;
    height: 4em;
  }
  .phase-2-4 > img{
    width: 4em;
    height: 4em;
  }
  .phase-3-4 > img{
    width: 4em;
    height: 4em;
    margin-bottom: 0.1em;
  }
  }
  @media screen and (min-width: 360px) and (max-width: 640px) {
  #moimeme-4{
      height: 51em;
    }
    .first-phrase-4{
      margin-top: -4.1em;
      font-size: 10px;
      text-align: center;
    }
    .nuit-des-idees-2020 > img{
      position: relative;
      margin-top: 3.1em;
      margin-bottom: 12em;
      width: 13em;
      height: 13em;
      margin-left: 5.6em;
    }
    .phase-1-4 > img{
      margin-top: 0.3em;
      width: 4em;
      height: 4em;
    }
    .phase-2-4 > img{
      width: 4em;
      height: 4em;
    }
    .phase-3-4 > img{
      width: 4em;
      height: 4em;
      margin-bottom: 0.1em;
    }
  }
   @media screen and (min-width: 768px) and (max-width: 1023px) {
    #moimeme-4{
      height: 69em;
    }
    .first-phrase-4{
      margin-top: -4.1em;
      font-size: 13px;
      text-align: center;
      margin-left: -4em;
    }
    .nuit-des-idees-2020 > img{
      position: absolute;
      margin-top: 3.1em;
      margin-bottom: 12em;
      width: 20em;
      height: 20em;
      margin-left: 13em;
    }
    .phase-1-4 > img{
      margin-top: 0.3em;
      width: 9em;
      height: 6em;
    }
    .phase-2-4 > img{
      width: 9em;
      height: 6em;
    }
    .phase-3-4 > img{
      width: 9em;
      height: 6em;
      margin-bottom: 0.1em;
    }
  }
   @media screen and (min-width: 1024px) and (max-width: 1200px) {
    #moimeme-4{
      height: 90em;
    }

  .first-phrase-4{
    padding-top: 8.1em;
    font-size: 13px;
    text-align: center;
    margin-left: -4em;
    margin-bottom: 0.3em;
  }
    .nuit-des-idees-2020 > img{
      position: absolute;
      margin-top: 3.5em;
      margin-bottom: 12em;
      width: 30.7em;
      height: 30.7em;
      margin-left: 16em;
    }
    .phase-1-4 > img{
      margin-top: 0.3em;
      width: 11em;
      height: 7em;
    }
    .phase-2-4 > img{
      width: 11em;
      height: 7em;
    }
    .phase-3-4 > img{
      width: 11em;
      height: 7em;
      margin-bottom: 0.1em;
    }
  }
/*-----------LA SAINT VALENTIN CITOYENNE (LES RESEAUX SOCIAUX) : ECOLE 241 (2020)-----------*/
@media screen and (min-width: 320px) and (max-width: 568px) {
  #moimeme-5{
    height:46em;
  }
  .first-phrase-5{
    padding-top: 5.5em;
    font-size: 7px;
    text-align: center;
  }
  .la-saint-valentin-2020 > img{
    position: absolute;
    margin-top: 1.5em;
    margin-bottom: 12em;
    width: 11em;
    height: 11em;
    margin-left: 4.1em;
  }
  .phase-1-5 > img{
    margin-top: 0.3em;
    width: 4em;
    height: 4em;
  }
  .phase-2-5 > img{
    width: 4em;
    height: 4em;
  }
  .phase-3-5 > img{
    width: 4em;
    height: 4em;
    margin-bottom: 0.1em;
  }
  }
  @media screen and (min-width: 360px) and (max-width: 640px) {
  #moimeme-5{
      height: 48em;
    }
    .first-phrase-5{
      margin-top: -4.1em;
      font-size: 10px;
      text-align: center;
    }
    .la-saint-valentin-2020 > img{
      position: relative;
      margin-top: 2em;
      margin-bottom: 12em;
      width: 13em;
      height: 13em;
      margin-left: 5.6em;
    }
    .phase-1-5 > img{
      margin-top: 0.3em;
      width: 4em;
      height: 4em;
    }
    .phase-2-5 > img{
      width: 4em;
      height: 4em;
    }
    .phase-3-5 > img{
      width: 4em;
      height: 4em;
      margin-bottom: 0.1em;
    }
  }
   @media screen and (min-width: 768px) and (max-width: 1023px) {
    #moimeme-5{
      height: 69em;
    }
    .first-phrase-5{
      margin-top: -4.1em;
      font-size: 13px;
      text-align: center;
      margin-left: -4em;
    }
    .la-saint-valentin-2020 > img{
      position: absolute;
      margin-top: 3.1em;
      margin-bottom: 12em;
      width: 20em;
      height: 20em;
      margin-left: 13em;
    }
    .phase-1-5 > img{
      margin-top: 0.3em;
      width: 9em;
      height: 6em;
    }
    .phase-2-5 > img{
      width: 9em;
      height: 6em;
    }
    .phase-3-5 > img{
      width: 9em;
      height: 6em;
      margin-bottom: 0.1em;
    }
  }
   @media screen and (min-width: 1024px) and (max-width: 1200px) {
    #moimeme-5{
      height: 90em;
    }

  .first-phrase-5{
    padding-top: 8.1em;
    font-size: 13px;
    text-align: center;
    margin-left: -4em;
    margin-bottom: 0.3em;
  }
    .la-saint-valentin-2020 > img{
      position: absolute;
      margin-top: 3.5em;
      margin-bottom: 12em;
      width: 30.7em;
      height: 30.7em;
      margin-left: 16em;
    }
    .phase-1-5 > img{
      margin-top: 0.3em;
      width: 11em;
      height: 7em;
    }
    .phase-2-5 > img{
      width: 11em;
      height: 7em;
    }
    .phase-3-5 > img{
      width: 11em;
      height: 7em;
      margin-bottom: 0.1em;
    }
  }
/*-------------mon footer---------------- */
@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}